<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Enables 'Add to Homescreen' for Android -->
        <meta name="viewport" content="width=device-width">
        <meta name="mobile-web-app-capable" content="yes">


        <title>{% block page_title %}Galaxy Conqueror{% endblock %}</title>
        <link rel="stylesheet" href="{{ static('css/fonts.css') }}">
        <link rel="shortcut icon" href="{{ static('img/favicon.png') }}?v=2"/>
        {% if debug %}
        <link rel="stylesheet" href="{{ static('bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ static('font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ static('css/bootstrap-social.css') }}">
        {% else %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css">
        {% endif %}
        <link rel="stylesheet" href="{{ static('openlayers/v3.9.0/ol.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ static('css/messages.css') }}">
        <link rel="stylesheet" href="{{ static('css/styles.css') }}">
        {% block css %}{% endblock %}
        {% block templates %}{% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-84275825-2', 'auto');
          ga('send', 'pageview');

        </script>

    </head>
    <body>

        {% include "navbar.jinja" %}

        {% block content %}{% endblock %}

        {% if debug %}
        <script src="{{ static('jquery/jquery.min.js') }}"></script>
        <script src="{{ static('jquery-cookie/jquery.cookie.js') }}"></script>
        <script src="{{ static('bootstrap/bootstrap.js') }}"></script>
        <script src="{{ static('bootbox/bootbox.js') }}"></script>
        <script src="{{ static('underscore/underscore.js') }}"></script>
        <script src="{{ static('knockout/knockout-3.2.0.js') }}"></script>
        <script src="{{ static('openlayers/v3.9.0/ol-debug.js') }}"></script>
        {% else %}
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdn.jsdelivr.net/bootbox/4.3.0/bootbox.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" ></script>
        <script src="{{ static('openlayers/v3.9.0/ol.js') }}"></script>
        {% endif %}
        <script src="{{ static('js/utils.js') }}"></script>
        <script src="{{ static('js/random-utils.js') }}"></script>
        <script src="{{ static('js/csrf-token.js') }}"></script>
        {% block js %}{% endblock %}
        {% include "messages.jinja" %}
    </body>
</html>
