{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<script type="text/javascript">

    //set color to whole ul depending on css classes (like success, error, etc.) from each li 
    var classes = [];
    $('.messages li').each(function(){
        classes.push($(this).attr('class'));
    });
    var first = classes[0];
    var allEquals = true;
    for (i in classes){
        if (classes[i] != first){
            allEquals = false;
            break;
        }
    }
    if (allEquals){
        $('.messages').addClass(first);
    }

    //remove after click
    $(".messages").on('click', {}, function(){
        $(this).remove();
    })

</script>

{% endif %}