.galaxy-info:before, .galaxy-info:after {
    content: " ";
    display: table;
}

.galaxy-info .main-info .user-info:before, .galaxy-info .main-info .user-info:after {
    content: " ";
    display: table;
}

.galaxy-info .main-info .lorem-ipsum:before, .galaxy-info .main-info .lorem-ipsum:after {
    content: " ";
    display: table;
}

.galaxy-info {
    margin-left: -15px;
    margin-right: -15px;
    color: #000;
    width: 250px;
}

.galaxy-info:after {
    clear: both;
}

.galaxy-info .main-info {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.galaxy-info .main-info .user-info:after, .galaxy-info .main-info .lorem-ipsum:after {
    clear: both;
}

.galaxy-info .main-info .user-info {
    margin-left: -15px;
    margin-right: -15px;
}

.galaxy-info .main-info .user-info .profile-picture-container {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.galaxy-info .main-info .user-info .profile-picture-container img {
    width: 100%;
}

.galaxy-info .main-info .user-info .username-container {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
    text-align: center;
}

.galaxy-info .main-info .user-info .username-container h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.galaxy-info .main-info .user-info .username-container h6 {
    font-size: 10px;
    color: #626262;
    margin-top: 3px;
}

.galaxy-info .main-info .lorem-ipsum {
    margin-left: -15px;
    margin-right: -15px;
}

.galaxy-info .main-info .lorem-ipsum .galaxy-image {
    width: 70px;
    margin-left: 53%;
    margin-top: 0;
    border: outset 4px rgba(30, 110, 130, 0.38);
}

.galaxy-info .main-info .lorem-ipsum p {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    margin-top: 8px;
    padding-right: 0;
}

.galaxy-info .votes {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.galaxy-info .votes .positives-amount {
    margin-top: 5px;
    color: #008000;
}

.galaxy-info .votes .negatives-amount {
    margin-bottom: 5px;
    color: #f00;
}

.galaxy-info .votes hr {
    margin: 5px 0;
}

.btn-discuss {
    background-color: rgba(216, 217, 50, 0.8);
    border-color: rgba(216, 217, 50, 0.8);
    color: #444444;
}