@charset "UTF-8";



body {
    background: black;
    color: white;
    input-color: black;
}

.bootbox {
    color: #555;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.ol-rotate {
    display: none;
}

.map {
    height: 600px;
    width: 100%;
    float: left;
}

.tableContainer {
    width: 25%;
    float: right;
    padding: 0 25px;
}

.scoreTable {
    color: white;
    width: 100%;
}

.afavor {
    color: #01DF01;
}


#map .expanding-point {
    color: #FFD500;
    font-family: "The Rave Is In Your Pants", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
Botones / Controles
*/

.ol-control button {
    background-color: rgba(216, 217, 50, 0.8);
    color: #444;
    border: medium none;
    border-radius: 2px;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    height: 2em;
    line-height: 0.4em;
    margin: 1px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 2em;
}

.ol-control button:hover {
    background-color: rgba(216, 217, 50, 1);
}

#map .ol-control.ol-zoom {
    position: absolute;
    left: 5px;
    top: 25px;
}

#map .ol-control.markGalaxy {
    position: absolute;
    left: 5px;
    top: 130px;
}

#map .ol-control.open-tutorial-btn {
    position: absolute;
    left: 5px;
    top: 190px;
}

#map .ol-control.share-btn {
    position: absolute;
    left: 5px;
    top: 250px;
}

#map .ol-control.toggle-sound-btn {
    position: absolute;
    left: 5px;
    top: 310px;
}



#map .ol-control.ol-attribution {
    display: none;
}


.actual {
    color: #0080FF;
}

.expanding-point {
    text-align: center;
    position: absolute;
    color: white;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

