<script type="text/template" id="popup-template">
    <div class="galaxy-info">
        <div class="main-info">
            <div class="user-info">
                <div class="profile-picture-container">
                    <img alt="User profile picture"
                         src="{{ static('game/img/user.png') }}">
                </div>
                <div class="username-container">
                    <h5>Marcada por <%= owner.displayedName %></h5>
                    <h6><%= owner.levelName %></h6>
                </div>
            </div>
            <div class="lorem-ipsum">
                <img src="<%= thumbnailUrl %>" alt="Galaxy image" class="galaxy-image img-circle">
            </div>
        </div>
        <div class="votes">

            <!--
            <div>
                <button type="button"
                        class="btn discuss btn-discuss"
                        data-galaxy-id="<%= id %>"
                        title="Discutir en las redes">
                    <i class="fa fa-comments-o"></i>
                </button>
             </div>
            <hr> -->

            <div>
                <button type="button"
                        class="btn positive btn-success"
                        data-galaxy-id="<%= id %>"
                        title="Votar a favor"
                        <% if (!canVote) { %>disabled="disabled"<% } %>>
                    <i class="fa fa-caret-up"></i>
                </button>
            </div>
            <div class="positives-amount">

                <% if (currentUserVote !== null) { %>
                    <%= positives %>
                <% } else { %>
                    ?
                <% } %>

            </div>
            <hr>
            <div class="negatives-amount">
                <% if (currentUserVote !== null) { %>
                    <%= negatives %>
                <% } else { %>
                    ?
                <% } %>
            </div>
            <div>
                <button type="button"
                        class="btn negative btn-danger"
                        data-galaxy-id="<%= id %>"
                        title="Votar en contra"
                        <% if (!canVote) { %>disabled="disabled"<% } %>>
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>

        </div>
    </div>
</script>