{% extends 'base.jinja' %}

{% block css %}
<link rel="stylesheet" href="{{ static('game/css/game.css') }}">
<link rel="stylesheet" href="{{ static('game/css/galaxy-info.css') }}">
{% endblock %}

{% block templates %}
{% include "game/galaxy_popup.jinja" %}
{% include "notifications/notifications_popup.jinja" %}
{% include "game/ssl_error.jinja" %}
{% endblock %}

{% block content %}

<audio id="background-sound" autoplay=true loop=true>
  <source src="{{ static('game/sound/bensound-deepblue.mp3') }}" type="audio/mpeg">
</audio>

<div id="map" class="map">
    <div id="popup" class="ol-popup">
        <div id="popup-content"></div>
    </div>
</div>

{% include 'tutorials/tutorial_modal.jinja' %}
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ static('tutorials/js/tutorial.js') }}"></script>
<script type="text/javascript" src="{{ static('notifications/js/notifications.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/controls.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/data.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/aliens.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/flag-images.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/galaxy-candidates.js') }}"></script>
<script type="text/javascript" src="{{ static('game/js/game.js') }}"></script>
<script type="text/javascript" src="{{ static('users/js/facebook-api.js') }}"></script>
<script type="text/javascript">

    var notificationsOptions = {
        'unreadNotifications': {{ unread_notifications_as_dict|jsonify }},
        'markAsReadUrl': "{{ url('mark_notifications_as_read') }}",
        'gcUrl': "{{ url('game') }}",
        'pictureUrl': "{{ static('img/cientopolis-fb-share.png') }}"
    };

    facebookApi.init({
        app_id: "{{ FACEBOOK_APP_ID }}",
    });

    tutorial.init({
        ajaxUrl: "{{ url('tutorial_closed_ajax') }}",
    });

    // it may happen, and in fact happens, that there is already pending notification when the
    // user logs in for the first time. when this happens we first show the tutorial and we wait
    // until is closed to show the notifications
    {% if should_take_tutorial %}
    tutorial.open(function () {
        notifications.init(notificationsOptions);
    });
    {% else %}
    notifications.init(notificationsOptions);
    {% endif %}

    // game internally initializes the remaining modules
    game.init({{ game.js_game_module_options()|jsonify }});

</script>
{% endblock %}
