{% extends 'base.jinja' %}

{% block templates %}
{% endblock %}

{% block css %}
<style>
    svg {
        margin-top: 10px;
    }
    .heapmap-container {
        margin: auto;
        width: 610px;
    }
</style>
{% endblock %}

{% block content %}
<div class="heapmap-container">
    <svg>
        <image xlink:href="{{ static('game/img/ngc2467-610x600.jpeg') }}" width="610" height="600">
    </svg>
    <input name="opacity" type="range" min="0", max="1" step="0.01" value="0.7">
</div>
{% endblock content %}

{% block js %}

{% if debug %}
<script src="{{ static('d3/d3.js') }}"></script>
{% else %}
<script src="{{ static('d3/d3.min.js') }}"></script>
{% endif %}

<script src="{{ static('game/js/heatmap.js') }}"></script>
<script>
    heatmap.init({
        data: {{ heatmap|jsonify }},
    });
</script>
{% endblock %}
