{% extends 'base.jinja' %}

{% block css %}
<style>
    svg {
        margin-top: 10px;
    }
    .heatmap-container {
        margin: auto;
        width: 610px;
    }
</style>
{% endblock %}

{% block content %}

<div class="col-md-6">
    <h1>Todos los candidatos</h1>
    <table id="candidatesTable" class="table table-condensed scoreTable">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Propietario</th>
                <th>X</th>
                <th>Y</th>
                <th>X (Pixels)</th>
                <th>Y (Pixels)</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
                <tr>
                    <td>
                        <img src="{{ candidate.thumbnail_url() }}" alt="">
                    </td>
                    <td>{{ candidate.owner.displayed_name() }}</td>
                    <td>{{ '%0.2f' % candidate.x|float }}</td>
                    <td>{{ '%0.2f' % candidate.y|float }}</td>
                    <td>{{ '%0.2f' % candidate.xPixel()|int }}</td>
                    <td>{{ '%0.2f' % candidate.yPixel()|int }}</td>
                    <td>
                        {{ candidate.status() }}
                        {% if candidate.is_pending() or candidate.is_rejected() %}
                            <a href="{{ url('confirm_galaxy', candidate.id) }}">Confirmar</a>
                        {% endif %}
                        {% if candidate.is_pending() or candidate.is_confirmed() %}
                            <a href="{{ url('reject_galaxy', candidate.id) }}">Rechazar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js %}

{% if debug %}
<script src="{{ static('d3/d3.js') }}"></script>
{% else %}
<script src="{{ static('d3/d3.min.js') }}"></script>
{% endif %}

<script src="{{ static('game/js/heatmap.js') }}"></script>
<script>
    heatmap.init({
        data: {{ heatmap|jsonify }},
    });
</script>
{% endblock %}