<script type="text/template" id="ssl-error-msg-template">
<p>
La imágen no pudo cargarse.
Una de las posibles causas es un problema de certificado SSL.
Debido al contexto actual de crisis interestelar,
agravado por la inminente suba del impuesto a las galaxias,
no hemos podido permitirnos la compra de una firma digital autorizada para nuestro certificado SSL.
Si desea continuar, por favor siga el siguiente
<a target="_blank" href="<%= tilesServerUrl %>">link</a>,
acepte la excepción de seguridad y vuelva a cargar esta página.
</p>
<a target="_blank" href="http://www.yukei.net/2014/07/certificado-ssl-autofirmado-seguro/">
    Más información
</a>
</script>