{% extends "base.jinja" %}

{% block css %}
    <style>
        form {
            width: 400px;
            margin: 10% auto;
        }
        form label {
            width: 50%;
            text-align: right;
        }
        form .sign-in-btn-container {
            width: 50%;
            text-align: right;
        }
        form .sign-up-btn-container {
            /*width: 50%;*/
        }
        form .sign-in-btn-container, form .sign-up-btn-container {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Open Sans', sans-serif;">

    <div class="col-md-6">
        <p class="lead" style="margin-top: 10px;">Bienvenido a Galaxy Conqueror</p>
        <p class="text-justify">
            Galaxy Conqueror es un juego de Ciencia Ciudadana.
            Invita a voluntarios a marcar potenciales galaxias en una región del cielo, conocida
            como ventana de Puppis.
            Un breve tutorial les enseña las características básicas y ya pueden salir a conquistar y
            atrapar objetos extraños que se cruzan en el camino.
            Luego, un equipo de astrónomos del
            <a href="http://nova.conicet.gov.ar/">Nuevo Observatorio Virtual Argentino</a>
            evalúa las galaxias
            marcadas por los voluntarios.
        </p>
        <p  class="text-justify">
            El proyecto es parte de la iniciativa
            <a href="http://www.cientopolis.org/">Cientópolis</a>
            y se encuentra en fase piloto.
        </p>
        <p class="text-justify">
            Si desea saber de que se trata, veal el video de presentación.
            Pero si es un valiente conquistador espacial,
            ingrese a una prueba beta con su usuario de Facebook.
        </p>
        <div class="text-center">
         {% if not user.is_authenticated() %}
             <a href="./login">
                   <img alt="Iniciar Sesión" src="{{ static('users/img/facebook-login.png') }}">
             </a>
        {% else %}
            <a href="./play">Jugar</a>
        {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x9XWdZ8FCpU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock content %}