{% extends "base.jinja" %}
{% block content %}

<div class="container" style="font-family: 'Open Sans', sans-serif;">

    <div class="col-md-6">
        <p class="lead" style="margin-top: 10px;">Bienvenido a Galaxy Conqueror</p>
        <p class="text-justify">
            Galaxy Conqueror es un juego de Ciencia Ciudadana.
            Invita a voluntarios a marcar potenciales galaxias en una región del cielo, conocida
            como ventana de Puppis.
            Un breve tutorial les enseña las características básicas y ya pueden salir a conquistar y
            atrapar objetos extraños que se cruzan en el camino.
            Luego, un equipo de astrónomos del
            <a href="http://nova.conicet.gov.ar/">Nuevo Observatorio Virtual Argentino</a>
            evalúa las galaxias
            marcadas por los voluntarios.
        </p>
        <p  class="text-justify">
            El proyecto es parte de la iniciativa
            <a href="http://www.cientopolis.org/">Cientópolis</a>
            y se encuentra en fase piloto.
        </p>


         {% if not user.is_authenticated() %}
             <p class="text-justify">
                Si solo desea saber de que se trata, veal el video de presentación.</p>
              <p class="text-justify">
                Si es un valiente conquistador espacial, <a href="./signup">regístrese</a> y/o ingrese sus credenciales espaciales en el
                formulario que se presenta a continuación.
             </p>

             <form action="." method="POST">{% csrf_token %}{{ form.as_p() }}
                <div>
                    <div class="sign-in-btn-container"></div>
                    <div class="sign-up-btn-container">
                        <button>Ingresar</button>
                    </div>
                </div>
            </form>


        {% else %}
            <p>Si solo desea saber de que se trata, veal el video de presentación.</p>

            <p>Pero si se siente valiente, <a href="./play">continúe jugando</a></p>
        {% endif %}

    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x9XWdZ8FCpU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>


{% endblock content %}