{% extends "base.jinja" %}
{% block content %}
{{ user.displayed_name() }}

{% if user.should_show_facebook_disconnect_button() %}
<form action="{{ url('socialauth_disconnect', 'facebook') }}" method="POST">{% csrf_token %}
    <button>Disconnect</button>
</form>
{% endif %}

{% endblock content %}