{% extends "base.jinja" %}
{% block content %}
<form action="." method="POST">{% csrf_token %}
    {{ form.as_p() }}
    <div>
        <div class="sign-in-btn-container">
        </div>
        <div class="sign-up-btn-container">
            <button>Crear cuenta</button>
        </div>
    </div>
</form>
{% endblock content %}