{% extends "base.jinja" %}

{% block content %}
<style type="text/css">

</style>
<div class="contact">
    <div>
        <p><img src="{{static('img/cientopolis-fb-share.png')}}"/></p>
        <p>
            Galaxy Conqueror es un juego de Ciencia ciudadana. Es parte del proyecto Cientópolis.
            Si tenés alguna duda o sugerencia, encontraste algún error, o querés saber más sobre
            Galaxy Conqueror escribinos a
            <a href="mailto:cientopolis@lifia.info.unlp.edu.ar?subject=[GalaxyConqueror]">
                cientopolis@lifia.info.unlp.edu.ar
            </a>
        </p>
        <p>
        <p class="lead">Créditos</p>
        <p>Idea original: Matías Celasco, Juan Ignacio Yañez y Roberto Gamen</p>
        <p>Desarrollo: equipo Cientópolis</p>
        <p>Arte: Julieta Lombardelli</p>
        <p>
        <p>
            <a href="{{ url('game') }}">Volver al juego</a>
        </p>
    </div>
</div>
{% endblock %}