form

    width: 400px
    margin: 10% auto
    label
        width: 50%
        text-align: right


    input, button
        color: initial

    .sign-in-btn-container
        width: 50%
        text-align: right

    .sign-up-btn-container
        /*width: 50%*/

    .sign-in-btn-container, .sign-up-btn-container
        display: inline-block